
      body {
        font-family: Arial;
        padding: 20px;
      }
      #messages {
        list-style-type: none;
        padding: 0;
        height: 300px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        margin-bottom: 10px;
      }
      #messages li {
        padding: 5px 10px;
        background: #f4f4f4;
        margin-bottom: 5px;
        border-radius: 5px;
      }
      #form {
        display: flex;
        gap: 10px;
      }
      #input {
        flex: 1;
        padding: 10px;
      }
      button {
        padding: 10px 15px;
      }
      .name {
        padding: 3px 5px;
        background-color: green;
        color: yellow;
      }
      .message,
      .date {
        padding: 3px 5px;
      }
      .date {
        color: gray;
      }
      .disex {
        display: flex;
      }
      .mright {
        margin-right: 15px;
      }
